<!-- template: display myTrainings -->
    <script type="text/x-tmpl" id="tmpl-trainingElement2">
        {% for (var i=0, file; file=o.result[i]; i++) {
        var status = (file.visited == 0 && file.solved == 0 ? '': (file.solved == 1 ? 'solved' : 'inprogress'));
        %}
        <li class="trainingElement span2 whiteB card rootClass" id="{%=file.id%}"
            isotope-status="{%=status%}"
            isotope-start=""
            isotope-end=""
            isotope-author="{%=file.authors%}"
            isotope-title="{%=file.name%}">
        <div class="front">
            <div class="colorBar {%=status%}"></div>
            <div class="caption"><p><span class="title">{%=file.name%}</span></p></div>
            <div class="thumbnail">{% if (file.cover !== '') { %}<a href="#" rel="popover"><img src="{%=file.cover%}" alt=""/></a>{% } %}</div>
        </div>
        <div class="back">
            <h3><span class="author">{%=file.authors%}</span></h3>
            <h4><span class="title">{%=file.name%}</span></h4>
            <span id="detail{%=file.id%}" class="btn btn-r">Tovább</span>
        </div>
        </li>
        {% } %}
    </script>

    <script type="text/x-tmpl" id="tmpl-trainingElement">
            {% for (var i=0, file; file=o.result[i]; i++) {
            var status = (file.visited == 0 && file.solved == 0 ? '': (file.solved == 1 ? 'solved' : 'inprogress'));
            %}
            <li class="trainingElement span2 rootClass" id="{%=file.id%}" isotope-status="{%=status%}" isotope-author="{%=file.authors%}" isotope-title="{%=file.name%}">
            <div class="front">
                <div class="colorBar {%=status%}"></div>
                <div class="box aligncenter">
                    <div class="aligncenter"><img src="{%=file.cover%}"/></div>
                    <div class="text"><h6>{%=file.name%}</h6><p>{%=file.authors%}</p></div>
                </div>
            </div>

            </li>
            {% } %}
        </script>