<!-- template:usergroups -->
<script type="text/x-tmpl" id="tmpl-userGroupList">
    <li class="viewAll mbcholder span2" data-object-id="" data-object-name="viewAll">
        <div class="mbHeader">
            <div class="name"><?=$viewAll;?></div>
            <span class="pull-right badge">{%=o.result[0].badge%}</span>

            <div class="pointer-left"></div>
        </div>
    </li>
    {% if (o.result[1]) { %}
    <li class="viewAll mbcholder span2 disabled" data-object-id="" data-object-name="notInList">
        <div class="mbHeader">
            <div class="name"><?=$notInList;?></div>
            <span class="pull-right badge">{%=o.result[1].badge%}</span>

            <div class="pointer-left"></div>
        </div>
    </li>
    {% } %}
    {% for (var i=2, boxes; boxes=o.result[i]; i++) { %}
    <li class="mediaBox mbcholder span2 {% if (boxes.badge == 0){ %} disabled{% } %}"
        data-object-id="{%=boxes.id%}"
        data-object-type="department"
        data-object-name="{%=boxes.doname%}">
        <div class="mbHeader">
            <div class="name">{%=boxes.name%}</div>
            <span class="pull-right badge">{%=boxes.badge%}</span>

            <div class="pointer-left"></div>

        </div>
    </li>
    {% } %}
</script>